<div class="container">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <div class="row bsl-actions">
    <%= link_to 'Upload Blood Sugar Level CSV', new_blood_sugar_level_path, class: "btn btn-primary" %>
  </div>
  <table class="table table-striped table-condensed table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Blood Sugar (mmol/L)</th>
        <th>Reference Method</th>
        <th>Fasting</th>
        <th>Before Meal</th>
        <th>After Meal</th>
        <th>Logbook</th>
        <th>Deleted</th>
        <th>Control</th>
        <th>Manual</th>
        <th>A1c %</th>
        <th>A1c mmol/mol</th>
        <th>Insulin</th>
        <th>Insulin Type</th>
        <th>Carb Grams</th>
        <th>Carb Points</th>
        <th>Carb Choices</th>
        <th>Comment</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @blood_sugar_levels.each do |blood_sugar_level| %>
        <tr>
          <td><%= blood_sugar_level.checked_at.strftime("%m/%d/%y %H:%M:%S") %></td>
          <td><%= blood_sugar_level.blood_sugar %></td>
          <td><%= blood_sugar_level.reference_method %></td>
          <td><%= blood_sugar_level.fasting ? 1 : 0 %></td>
          <td><%= blood_sugar_level.before_meal ? 1 : 0 %></td>
          <td><%= blood_sugar_level.after_meal ? 1 : 0 %></td>
          <td><%= blood_sugar_level.logbook ? 1 : 0 %></td>
          <td><%= blood_sugar_level.deleted ? 1 : 0 %></td>
          <td><%= blood_sugar_level.control ? 1 : 0 %></td>
          <td><%= blood_sugar_level.manual ? 1 : 0 %></td>
          <td><%= blood_sugar_level.a1c_percentage %></td>
          <td><%= blood_sugar_level.a1c_measurement %></td>
          <td><%= blood_sugar_level.insulin %></td>
          <td><%= blood_sugar_level.insulin_type %></td>
          <td><%= blood_sugar_level.carb_grams %></td>
          <td><%= blood_sugar_level.carb_points %></td>
          <td><%= blood_sugar_level.carb_choices %></td>
          <td><%= blood_sugar_level.comment %></td>
          <td><%= link_to 'Destroy', blood_sugar_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
